<h1>Welcome to the Yelpdemo!</h1>
<h2>This is one of the sample applications for <a href="http://www.baserails.com">BaseRails</a>, a platform for teaching people how to build awesome
  websites using Ruby on Rails.</h2>

